:root {
	--blue:			#99EEFF;			--blue-hv:			#93E9FA;
	--green:		#96FFAA;			--green-hv:			#90FAA4;
	--yellow:		#F6FF99;			--yellow-hv:		#F0FA93;
	--primary:		#8E110B;			--primary-hv:		#750E09;
	--secondary:	rgba(0, 0, 0, 0.4);	--secondary-hv:		rgba(0, 0, 0, 0.2);
	--black:		rgba(0, 0, 0, 0.7);	--black-hv:			rgba(0, 0, 0, 0.6);
	--grey:			#7F7F7F;			--grey-hv:			#707070;
	--grey-light:	#CFCFCF;			--grey-light-hv:	#C0C0C0;
	--background:	#EFEFEF;			--background-hv:	#E0E0E0;
	--foreground:	#FFFFFF;			--foreground-hv:	#FAFAFA;

	--p-xs: 2px;
	--p-sm: 4px;
	--p-md: 6px;
	--p-lg: 10px;
	--p-xl: 16px;
	--p-x2: 26px;
	--p-x3: 42px;

	--gr-s2: 110px;
	--gr-s1: 178px;
	--gr-xs: 288px;
	--gr-sm: 466px;
	--gr-md: 754px;
	--gr-lg: 1220px;
	--gr-xl: 1974px;

	--font-sm: 0.8rem;
	--font-md: 1rem;
	--font-lg: 1.4rem;
	--font-xl: 2rem;

	--header-height: calc(var(--font-xl) + 2 * var(--p-xl));
	--player-footer-height: 4rem;
	--psalm-link-height: calc(2 * var(--font-lg) + 2 * var(--p-xl));

	--border-radius: var(--p-md);

	--transition: 0.3s ease-out;

	/* eplayer overrides */
	--eplayer-background-color: transparent;
	--eplayer-font-color: var(--secondary);
	--eplayer-primary-color: var(--primary);
	--eplayer-primary-color-hover: var(--primary-hv);
	--eplayer-play-background-color-hover: var(--secondary-hv);
	--eplayer-play-height: var(--p-x2);
	--eplayer-play-padding: var(--p-sm);
	--eplayer-progress-background-color: var(--secondary-hv);
	--eplayer-progress-button-color: var(--primary);
	--eplayer-progress-button-color-hover: var(--primary-hv);
	--eplayer-progress-button-border: 0px;
	--eplayer-progress-button-border-color: transparent;
	--eplayer-progress-button-height: var(--p-lg);
	--eplayer-progress-height: var(--p-sm);
	--eplayer-progress-color: var(--primary);
}

/*==============================================================================
INITIALIZATION
==============================================================================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth !important;
}

body {
	background-color: var(--background);
	color: var(--black);
	font-family: sans-serif;
}

body.open {
	overflow-y: hidden;
}

/* LINKS */
a {
	text-decoration: none;
}

/* BUTTONS */
button {
	background-color: transparent;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
}

/* LISTS */
ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

ul li {
	cursor: pointer;
	padding: var(--p-xl);
}

ul li * {
	pointer-events: none;
}

/* INPUT */
input[type=search] {
	-webkit-appearance: none;
}

/*==============================================================================
PAGE-WIDE
==============================================================================*/

/* ICONS */
.icon, .icon-sm {
	align-items: center;
	display: flex;
}

.icon svg {
	height: var(--font-lg);
	width: var(--font-lg);
}

.icon-sm svg {
	height: var(--font-md);
	width: var(--font-md);
}

/* DROPDOWN */
.dropdown {
	position: relative;
}

.dropdown-btn:focus + .dropdown-list, .dropdown-btn + .dropdown-list:active {
	display: flex;
}

.dropdown-btn {
	align-items: center;
	display: flex;
}

.dropdown-btn:hover,
.dropdown-btn:active {
	background-color: var(--primary-hv);
}

.dropdown-list {
	background-color: var(--foreground);
	border-radius: var(--border-radius);
	display: none;
	padding: var(--border-radius) 0;
	position: absolute;
	right: 0;
	top: calc(var(--p-xl) * 2 + var(--p-md));
}

.dropdown-list li {
	background-color: transparent;
	padding: var(--p-lg) var(--p-xl);
}

.dropdown-list li:hover, .dropdown-list li:active {
	background-color: var(--foreground-hv);
}

/* TEXT */
.message {
	color: var(--secondary);
	font-size: var(--font-md);
	line-height: var(--font-md);
	font-weight: bold;
}

.text-center {
	text-align: center;
}

/* BADGE */
.badge {
	background-color: var(--secondary-hv);
	border-radius: 2rem;
	display: inline-block;
	font-size: var(--font-sm);
	line-height: var(--font-sm);
	padding: var(--p-xs) var(--p-md);
	text-align: center;
}

/* FLEX */
.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	align-items: center;
	display: flex;
}

.column-reverse {
	/* flex-direction: column-reverse; */
}

/*==============================================================================
HEADER
==============================================================================*/

/* WRAPPER */
.header-wrapper {
	background-color: var(--primary);
	position: fixed;
	top: 0; right: 0; left: 0;
}

/* MAIN */
.header {
	gap: var(--p-lg);
	justify-content: space-between;
	margin: 0 auto;
	max-width: var(--gr-lg);
	padding: var(--p-xl) 0;
	position: relative;
	transition: all var(--transition);
}

@media only screen and (max-width: 1220px) {
	.header {
		padding-left: var(--p-xl);
		padding-right: var(--p-xl);
	}
}

/* LOGO */
.header-logo svg path {
	fill: var(--foreground);
}

body.open .header-logo {
	display: none;
}

.header-title-wrapper {
	gap: var(--p-xl);
	padding-top: var(--p-xl);
	position: absolute;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 1220px) {
	.header-title-wrapper {
		padding-left: var(--p-xl);
	}
}

/* TITLE */
.header-title {
	color: var(--foreground);
	font-size: var(--font-lg);
	line-height: var(--font-lg);
	overflow: hidden;
	white-space: nowrap;
}

.header-title:hover,
.header-title:active {
	color: var(--foreground-hv);
}

body.open .header-title {
	display: none;
}

/* SEARCH */
.search-form {
	gap: var(--p-md);
	justify-content: flex-end;
	pointer-events: none;
	position: relative;
}

.search-form * {
	pointer-events: auto;
}

.search-field {
	background-color: var(--primary-hv);
	border: none;
	border-radius: var(--border-radius);
	color: var(--foreground);
	outline: none;
	padding: 0; /*var(--p-md) var(--p-lg); */
	width: 0;
	transition: width var(--transition);
}

.search-field:focus {
	padding: var(--p-md) var(--p-lg);
	/* max-width: var(--g-md); */
	width: var(--gr-xs);
}

@media only screen and (max-width: 754px) {
	.search-field:focus {
		width: 100%;
	}
}

/* SEARCH BUTTONS */
.search-btn {
	border-radius: var(--border-radius);
	cursor: pointer;
	float: right;
}

body.open .search-btn {
	display: none;
}

/* BUTTONS */
.header-btn {
	align-items: center;
	color: var(--foreground);
	display: flex;
	flex: 0 0 auto;
	height: var(--font-xl);
	padding: var(--p-md);
}

.header-btn svg {
	stroke: var(--foreground);
}

.header-btn:hover, .header-btn:active {
	background-color: var(--primary-hv);
}

.back-btn {
	display: none;
}

body.open .back-btn {
	display: flex;
}

/*==============================================================================
MAIN
==============================================================================*/

.main-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: var(--gr-lg);
	padding: calc(var(--header-height) + var(--p-xl)) 0 100vh;
}

/*==============================================================================
PSALM LIST MENU
==============================================================================*/

/* WRAPPER */
.psalm-list-menu-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--p-xl);
	max-height: calc(var(--font-sm) + 2 * var(--p-xl));
	overflow-y: hidden;
	padding-bottom: var(--p-xl);
	transition: all var(--transition);
}

@media only screen and (max-width: 1220px) {
	.psalm-list-menu-wrapper {
		padding: 0 var(--p-xl) var(--p-xl);
	}
}

.psalm-list-menu-wrapper.open {
	max-height: calc(var(--font-sm) + 2 * var(--p-xl) + 12rem);
}

.psalm-list-menu {
	justify-content: space-between;
}

/* BUTTONS */
.psalm-list-menu-btn {
	align-items: center;
	display: flex;
	font-size: var(--font-sm);
	gap: var(--p-sm);
	line-height: var(--font-sm);
	padding: var(--p-lg);
}

.psalm-list-menu-btn:hover,
.psalm-list-menu-btn:active {
	background-color: var(--background-hv);
}

.sort-btn-down.hide, .sort-btn-up.hide {
	display: none;
}

.clear-btn.hide {
	display: none;
}

.clear-btn-count {
	background-color: var(--grey-light);
	border-radius: 4rem;
	padding: var(--p-sm);
}

.tag-list-wrapper {
	gap: var(--p-xl);
}

.tag-list, .category-list {
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--p-md);
}

.tag-item, .category-item {
	background-color: var(--grey-light);
	border-radius: 4rem;
	font-size: 0.8rem;
	padding: var(--p-sm) var(--p-lg);
}

.tag-item:hover,
.tag-item:active,
.category-item:hover,
.category-item:active {
	background-color: var(--grey-light-hv);
}

.tag-item.tag-selected, .category-item.category-selected {
	background-color: var(--grey);
	color: var(--foreground);
}

.tag-item.tag-selected:hover,
.tag-item.tag-selected:active,
.category-item.category-selected:hover,
.category-item.category-selected:active {
	background-color: var(--grey-hv);
	border-color: var(--grey-hv);
}

/*==============================================================================
PSALM LIST
==============================================================================*/

/* WRAPPER */
.psalm-list-wrapper.hide {
	display: none;
}

/* MAIN */
.psalm-list {
	gap: var(--p-xs);
}

/* LINK */
.psalm-link {
	cursor: pointer;
	height: var(--psalm-link-height);
	padding: var(--p-xl);
	min-width: 0;
}

.psalm-link * {
	pointer-events: none;
}

.psalm-link.open {
	height: 100vh;
	padding: calc(var(--header-height) + var(--p-x3)) var(--p-x3) var(--p-x3);
	pointer-events: none;
	transition: height var(--transition);
}

@media only screen and (max-width: 1220px) {
	.psalm-link.open {
		padding-left: var(--p-xl);
		padding-right: var(--p-xl);
	}
}

.psalm-link.hide {
	display: none;
}

/* LINK COLORS */
.pre { background-color: var(--foreground); }
.pre:hover, .pre:active { background-color: var(--foreground-hv); }
.pre.open:hover, .pre.open:active { background-color: var(--foreground); }

.cat { background-color: var(--blue); }
.cat:hover, .cat:active { background-color: var(--blue-hv); }
.cat.open:hover, .cat.open:active { background-color: var(--blue); }

.ele { background-color: var(--green); }
.ele:hover, .ele:active { background-color: var(--green-hv); }
.ele.open:hover, .ele.open:active { background-color: var(--green); }

.lit { background-color: var(--yellow); }
.lit:hover, .lit:active { background-color: var(--yellow-hv); }
.lit.open:hover, .lit.open:active { background-color: var(--yellow); }

/* TITLES */
.psalm-title, .psalm-subtitle {
	display: block;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* TITLE */
.psalm-title {
	color: var(--primary);
	font-size: var(--font-md);
	line-height: var(--font-lg);
}

/* SUBTITLE */
.psalm-subtitle {
	color: var(--secondary);
	font-size: var(--font-sm);
	font-weight: normal;
	line-height: var(--font-lg);
}

.psalm-link:hover .psalm-title, .psalm-link:active .psalm-title {
	color: var(--secondary);
}

.psalm-link.open:hover .psalm-title, .psalm-link.open:active .psalm-title {
	color: var(--primary);
}

.psalm-link.open .psalm-title,
.psalm-link.open .psalm-subtitle {
	overflow: visible;
	text-overflow: initial;
	white-space: normal;
}

/*==============================================================================
PSALM
==============================================================================*/

.psalm-wrapper {
	cursor: default;
	height: 100%;
	-ms-overflow-style: none;
	overflow-y: auto;
	padding: var(--p-xl) 0;
	pointer-events: auto;
	position: relative;
	scrollbar-width: none;
}

.psalm-wrapper::-webkit-scrollbar {
	display: none;
}

.psalm-wrapper.hide {
	display: none;
}

.psalm-lyrics {
	display: flex;
	padding: var(--p-xl) 0;
}

.lyrics-col {
	flex: 1;
}

.lyric {
	margin-bottom: var(--font-xl);
	position: relative;
}

.con .lyric {
	font-weight: bold;
}

.chord {
	color: var(--primary);
	font-weight: bold;
	margin-top: calc(var(--font-md) * -1.4);
	position: absolute;
}

/*==============================================================================
PLAYER
==============================================================================*/

.player-null.hide {
	display: none;
}

.eplayer {
	margin: 0 auto;
	max-width: var(--gr-sm);
	width: 100%;
}

.eplayer * {
	pointer-events: auto;
}

.eplayer.hide {
	display: none;
}

/*==============================================================================
SELECTOR SCREEN
==============================================================================*/

/* MAIN */
.selector {
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	gap: var(--p-xl);
	justify-content: center;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
}

.selector.hide {
	display: none;
}

/* TITLE */
.selector-title {
	color: white;
}

/* LIST */
.selector-list {
	align-self: center;
	gap: var(--p-md);
	max-width: var(--gr-xs);
	width: 100%;
}

.selector-list li {
	background-color: var(--foreground);
	border-radius: var(--border-radius);
}

.selector-list li:hover, .selector-list li:active {
	background-color: var(--foreground-hv);
}

/*==============================================================================
MODAL
==============================================================================*/

.modal-wrapper, .modal {
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	background: var(--secondary);
	cursor: pointer;
	opacity: 1;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	transition: all var(--transition);
	z-index: 1000;
}

.modal-wrapper.hide {
	opacity: 0;
	z-index: -1000;
}

.modal {
	background: var(--foreground);
	border-radius: var(--border-radius);
	gap: var(--p-x2);
	max-width: var(--g-xs);
	padding: var(--p-x2);
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	transition: all var(--transition);
}

.modal-wrapper.hide .modal {
	top: 100vh;
	transform: translate(-50%, 0);
}

.modal-btn {
	background: var(--background);
	font-size: var(--font-sm);
	padding: var(--p-lg);
}

.modal-btn:hover, .modal-btn:active {
	background-color: var(--background-hv);
}

/* END ====================================================================== */
